<div id="mobile-nav" class="visible-xs">
  <div class="" id="flyout-container">
     <ul class="nav flyout-menu">
       <li>
	<a title="" href="#"> Home</a>
       </li>
       <li>
       <a title="" href="#"> Users</a>
       </li>
       <li>
       <a title="" href="#">About</a>
       </li>
     </ul>
  </div>
</div>



